@charset "UTF-8";

@font-face {
    font-family: "FonteBase";
    src: url("Resources/fonts/Ubuntu-Regular.ttf");
}

*{
    font-family: FonteBase;
}

*:focus {
    outline: none;
}

html {
    height: 100.2%;
    width: 100%;
    margin-left: -0.1%;
    margin-top: -0.2%;
}

body {
    background-color: #2c3531;
    box-shadow: inset 0px 0px 14px 0px black;
    width: 100%;
    height: 100%;
    margin: 1px;
}

main {
    /*border: solid;*/ 
    position: absolute;
    top: 12vh;
    left: 37vw;
    width: 29%;
    height: 73%;
    text-align: center;
    background-color: white;
    box-shadow: 0px 0px 14px 6px #000000b3;
}

img {
    width: 100%;
    height: 100%;
}

#logo {
    margin: auto;
    height: 50%;
    width: 88%;
}

#logoTexto {
    text-align: center;
    color: #d9b08c;
    margin-bottom: 25px;
}

form {
    height: 29.1%;
    text-align: center;
}

.box1 {
    margin: auto;
    width: 65%;
    height: 25%;
    margin-bottom: 15px;
    border: solid 2px black;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s;

}

#inpS, #inpE {
    border: 0px;
    text-align: left;
    width: 92.7%;
    height: 78.6%;
    background-color: #00000000;
    margin-top: 3px;
}

.box {
    width: 45%;
    height: 25%;
    border-radius: 20px;
    background-color: #2c3531;
    color: white;
    overflow: hidden;
}

.box {
    cursor: pointer;
}