@charset "UTF-8";

@font-face {
    font-family: "FonteBase";
    src: url("../../Resources/fonts/Ubuntu-Regular.ttf");
}

 *{
 font-family: FonteBase;
 margin: inherit;
 margin: initial;
 margin: unset;
}

a {
    text-decoration: none;
    color: white;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#sideBarDown {
    background-color: #2c3531;
    box-shadow: 0 12px 9px 0.5px;
    position: absolute;
    top: 13.9%;
    left: 0%;
    width: 16%;
    height: 90%;
}

nav {
    padding-top: 26px;
}

#navicon1 {
    padding-left: 10px;
    padding-top: 11px;
    padding-bottom: 10px;
    color: #ffead5;
}

#navicon2 {
    padding-left: 10px;
    padding-top: 11px;
    padding-bottom: 10px;
    color: #ffead5;
}

#navicon3 {
    padding-left: 10px;
    padding-top: 11px;
    padding-bottom: 10px;
    color: #ffead5;
}

#navicon4 {
    padding-left: 10px;
    padding-top: 175%;
    padding-bottom: 10px;
    color: #ffead5;
    padding-bottom: 2px;
}

.menu {
    display: inline-block;
    text-decoration: none;
    color: #d1ebe2;
    vertical-align: text-bottom;
    font-size: 21px;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 1px;
}

hr .mainhr {
    width: 90%;
    margin: auto;
}


#sideBarLeft {
    background-color: rgb(255, 255, 255);
    /* box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.281); */
    position: absolute;
    left: 0%;
    width: 100%;
    height: 13.9%;
    background-color: #2c3531;
    
}

#sideBarLeft:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%; /* Half of the original height */
    top: 0;
    left:0;
    box-shadow: 0 46px 9px 0.5px;
    z-index: -1;
}

Img {
    width: 100%;
    height: 100%;
}

#logo {
    /*border: solid black; */
    overflow: hidden;
    position: absolute;
    top: 3%;
    left: 3.6%;
    width: 7%;
    height: 65%;
}
 
#logoT {
    position: absolute;
    color: #d9b08c;
    top: 66.7%;
    left: 0.7%;
    font-size: 19px;
}

#barraP {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.212);
    /* border: solid black; */
    top: 21%;
    left: 18%;
    width: 63%;
    height: 60%;
    border-radius: 15px;
}

#pesquisa {
    position: absolute;
    background-color: #ffead5;
    /* border: solid black; */
    top: 21%;
    left: 2%;
    width: 89%;
    height: 60%;
    border-radius: 15px;
}

input {
    border: 0px;
    background-color: #2c353100;
    width: 100%;
    height: 88%;
    border-radius: 40px;
    margin-left: 4px;
}

#botao {
    position: absolute;
    background-color: #ffead5;
    top: 21%;
    left: 87.6%;
    width: 7%;
    height: 60%;
    border-radius: 40px;
    
}

#botao:hover {
    cursor: pointer; 
}

#pes {
    margin-left: 30%;
    margin-top: 8%;
}


#perfil {
    background-color: rgba(0, 0, 0, 0.212);
    /* border: solid; */
    position: absolute;
    top: 21%;
    left: 82%;
    width: 17.4%;
    height: 60%;
    border-radius: 15px;
}

#perfilUsuario {
    display: inline-block;
    margin-top: 1.6%;
    margin-bottom: 10%;
    width: 22%;
    height: 89%;
    margin-left: 9%;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    
}

#nomeUsuario {
    display: inline-block;
    margin-left: 10px;
    position: absolute;
    top: 34.8%;
    left: 30%;
    color: white;
    font-size: large
}

/* corpo da pagina */

main {
    margin: auto;
    margin-bottom: auto;
    position: absolute;
    width: 84%;
    height: 90%;
    top: 14%;
    left: 16%;
    background-color: #fafafa;
}

#content {
    width: 96%;
    height: 91%;
    box-shadow: 2px 2px 9px 1px #00000029;
    margin-left: 2%;
    margin-top: 2%;
}

#titulo1 {
    padding-top: 15px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-size: 22px;
    color: #737373;
}

#corpo, #head {
    border-bottom: 1px solid rgba(172, 172, 172, 0.514);
    margin-bottom: 6px;
    margin-top: 6px;
    padding-bottom: 6px;
    margin-left: 10px;
}

#head {
    color: #a7a7a7;
}

.rels {
    text-decoration: none;
    color: black;
}


